{"openapi":"3.1.0","info":{"title":"zerohash API","description":"The zerohash REST API. Every endpoint except `GET /time` is authenticated with HMAC-SHA256 request signing over four headers.\n\nRead [Authentication](/api-reference/authentication) first: it covers the headers, how to build the signature, the environment base URLs, and IP allowlisting.\n","version":"1.7.0"},"servers":[{"url":"https://api.cert.zerohash.com","description":"US Cert (test)"},{"url":"https://api.cert.zerohash.eu","description":"EU Cert (test)"},{"url":"https://api.zerohash.com","description":"US Prod"},{"url":"https://api.zerohash.eu","description":"EU Prod"}],"tags":[{"name":"Public","description":"Basic API Endpoints"},{"name":"Individual Participants","description":"Create and Manage Individual Participants"},{"name":"Entity Participants","description":"Create and Manage Entity Participants"},{"name":"Query Participants","description":"Generic Participant management endpoints"},{"name":"Participant Jurisdictions","description":"Participant jurisdiction endpoints"},{"name":"Assets","description":"View available assets"},{"name":"Accounts","description":"Create and Manage Accounts"},{"name":"Customer Accounts (MTA)","description":"Create and Manage Customer Accounts (MTA)"},{"name":"Deposits","description":"Create deposit addressed and monitor deposits to accounts"},{"name":"Withdrawals","description":"Initiate and monitor withdrawals from accounts"},{"name":"Transfers","description":"Initiate and monitor transfers between accounts"},{"name":"Positions","description":"Positions and Balances monitoring"},{"name":"Index","description":"Obtain the index price on an instrument"},{"name":"Market Data","description":"Market Data Services"},{"name":"Trades","description":"Trade Settlement Services"},{"name":"Liquidity","description":"Request For Quote and Execution Services"},{"name":"CLOB","description":"Central Limit Order Book"},{"name":"External Accounts","description":"Create and Manage External Accounts"},{"name":"Payments","description":"Payment Services"},{"name":"Payouts","description":"Crypto payouts"},{"name":"Convert and Withdraw","description":"Convert and Withdraw Services"},{"name":"Fund","description":"Fund Services"},{"name":"Payins","description":"Power your checkout with crypto and stablecoins"},{"name":"Rewards","description":"Rewards Distribution Service"},{"name":"Awards","description":"Awards Distribution Service"},{"name":"Staking","description":"Staking, Unstaking and associated Rewards Services"},{"name":"SDK Authorization","description":"SDK Authorization Services"},{"name":"Proof of Reserves","description":"Signed Merkle Sum Tree root commitments and participant inclusion proofs. Each root commits to per-participant balances as recorded in the zerohash liability ledger, so a verified proof shows that a balance was included in the published total — it is not by itself evidence of the assets held against those liabilities."}],"paths":{"/time":{"get":{"tags":["Public"],"summary":"Get server time","description":"Provides the current server time in seconds using Unix timestamp format.","responses":{"200":{"description":"Current server time as a Unix epoch in seconds.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetTimeResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}},"security":[]}},"/index":{"get":{"tags":["Index"],"summary":"List index prices","description":"Request the latest zerohash index value for the most recently calculated data.","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"},{"name":"underlying","in":"query","description":"underlying currency","required":true,"allowEmptyValue":false,"schema":{"$ref":"#/components/schemas/LiquidityEnabledUnderlyingCurrency"}},{"name":"quoted_currency","in":"query","description":"quoted currency","required":true,"allowEmptyValue":false,"schema":{"$ref":"#/components/schemas/QuotedCurrency"}}],"responses":{"200":{"description":"Latest zerohash index value for the requested underlying/quoted pair.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetIndexResponse"}}}},"400":{"description":"Bad request"},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}}},"/assets":{"get":{"tags":["Assets"],"summary":"List assets","description":"Returns a list of all assets supported in the zerohash environment.","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"},{"name":"stablecoin","in":"query","description":"Filter for assets based on whether they are classified as stablecoins","required":false,"schema":{"type":"boolean"}},{"name":"chain_code","in":"query","description":"Filter assets by chain code","required":false,"schema":{"type":"string"}},{"name":"symbol","in":"query","description":"Filter assets by symbol","required":false,"example":"BTC","schema":{"$ref":"#/components/schemas/LiquidityEnabledUnderlyingCurrency"}},{"name":"ny_allowed","in":"query","description":"Filter assets based on whether they are allowed for transactions in New York","required":false,"schema":{"type":"boolean"}},{"name":"fund_enabled","in":"query","description":"Filters assets based on whether they are permitted for use with the Fund With Crypto API","required":false,"schema":{"type":"boolean"}},{"name":"staking_enabled","in":"query","description":"Filters assets based on whether they are permitted for use with the Staking API","required":false,"schema":{"type":"boolean"}},{"name":"deposit_address_creation","in":"query","description":"Filter assets by their deposit-address creation support level.","required":false,"schema":{"type":"string","enum":["institutional","institutional_and_retail","not_supported"]}}],"responses":{"200":{"description":"Successfully retrieved list of assets matching the filter criteria.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetAssetsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}}},"/assets/{asset}/staking_info":{"get":{"tags":["Assets"],"summary":"Get asset staking information","description":"Returns staking parameters for a specific asset including APY, activation periods, and unstaking details.","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"},{"name":"asset","in":"path","description":"Asset symbol (e.g., ETH, BTC, SOL)","required":true,"schema":{"type":"string","pattern":"^[A-Z0-9]+$","example":"ETH"}}],"responses":{"200":{"description":"Staking information retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetAssetStakingInfoResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}}},"/trades":{"post":{"tags":["Trades"],"summary":"Submit trade","description":"Submits a trade for settlement that was matched and executed outside of zerohash.","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"}],"requestBody":{"description":"Trade details including counterparties, settlement schedule, amounts, and prices for external execution settlement.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostTradesBody"}}}},"responses":{"200":{"description":"Successfully created trade. Returns the created resource with generated IDs and timestamps.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostTradesResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}},"get":{"tags":["Trades"],"summary":"Get trades","description":"Returns trade details where the requestor is the Platform, either party associated with the trade, or the account group where the trade was settled. For the party information, the asset is the settlement currency (i.e asset RECEIVED). This means in the second you are receiving USD correctly, 00SCXM is receiving BTC. The \"sell\" side receives the quoted currency, the \"buy\" side receives the underlying. Our trade structure mirrors a typical back office trade report (FIX TradeCaptureReport) and we use the concept of settlement currency for the sides to help keep our system agnostic of symbol definitions. Results are limited to the last 2 months","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"},{"$ref":"#/components/parameters/AccountLabelQuery"},{"$ref":"#/components/parameters/PageQuery"},{"name":"market_identifier_code","in":"query","description":"Filters for trades within a designated `market_identifier_code`.","required":false,"schema":{"type":"string"}},{"name":"omit_market_identifier_code","in":"query","description":"Filters for trades excluding those from a particular `market_identifier_code`.","required":false,"schema":{"type":"string"}},{"name":"platform_code","in":"query","description":"Filters for trades based on the specific `platform_code` where the trade execution took place.","required":false,"schema":{"type":"string"}},{"name":"omit_platform_code","in":"query","description":"Filters for trades based excluding those from a particular `platform_code`.","required":false,"schema":{"type":"string"}},{"name":"trade_state","in":"query","description":"Filters for trades based on their current `trade_state`.","required":false,"schema":{"type":"string","enum":["accepted","active","terminated"]}},{"name":"settlement_state","in":"query","description":"Filters for trades based on their current `settlement_state`.","required":false,"schema":{"type":"string","enum":["null","obligations_outstanding","current_obligations_met","settled","defaulted","counterparty_defaulted"]}},{"name":"party_code","in":"query","description":"Filters for trades where the provided `party_code` is at least one of the counterparties to a trade in the `parties` array.","required":false,"schema":{"type":"string"}},{"name":"transaction_timestamp[gt]","in":"query","description":"Filters for trades with a timestamp greater than the provided value, which can be defined in milliseconds or nanoseconds.","required":false,"schema":{"type":"number"}},{"name":"transaction_timestamp[gte]","in":"query","description":"Filters for trades with a timestamp greater than or equal to the provided value, which can be defined in milliseconds or nanoseconds.","required":false,"example":1678901234567,"schema":{"type":"number"}},{"name":"transaction_timestamp[e]","in":"query","description":"Filters for trades with a timestamp equal to the provided value, which can be defined in milliseconds or nanoseconds.","required":false,"example":1678901234567,"schema":{"type":"number"}},{"name":"transaction_timestamp[lt]","in":"query","description":"Filters for trades with a timestamp less than the provided value, which can be defined in milliseconds or nanoseconds.","required":false,"example":1678901234567,"schema":{"type":"number"}},{"name":"transaction_timestamp[lte]","in":"query","description":"Filters for trades with a timestamp less than or equal to the provided value, which can be defined in milliseconds or nanoseconds.","required":false,"example":1678901234567,"schema":{"type":"number"}},{"name":"client_trade_id","in":"query","description":"Filters for trades with the provided `client_trade_id` value.\nNote:\n - Platforms integrated to the zerohash RFQ systems, the `quote_id` from the RFQ will be saved as the `client_trade_id` once the quote has been executed.\n- Platforms integrated to the zerohash CLOB, the `execution_id` from the order trade execution will be saved as the `client_trade_id` on the resulting trade.","required":false,"schema":{"type":"string"}},{"name":"execution_id","in":"query","description":"Filters for trades with the provided `execution_id` in either party's `execution_id` field.","required":false,"schema":{"type":"string"}},{"name":"reporting_party","in":"query","description":"Filters for trades based on the `reporting_party` associated with each trade.","required":false,"schema":{"type":"string"}},{"name":"settlement_schedule","in":"query","description":"Filters for trades based on the `settlement_schedule` associated with each trade.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved paginated list of trades with optional filters: participant_code, asset, underlying, account_label, market_identifier_code, platform_code, trade_state, settlement_state, party_code, transaction_timestamp, client_trade_id, execution_id, reporting_party, settlement_schedule.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetTradesResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}}},"/trades/batch":{"post":{"tags":["Trades"],"summary":"Submit batch of trades","description":"Submits a batch of trades for settlement that was matched and executed outside of zerohash.","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"}],"requestBody":{"description":"Array of trade details for bulk submission. Each trade includes counterparties, settlement schedule, amounts, and prices.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostTradesBatchBody"}}}},"responses":{"201":{"description":"Successfully created batch of trades. Returns the created resource with generated IDs and timestamps.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostTradesBatchResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}}},"/trades/{trade_id}":{"get":{"tags":["Trades"],"summary":"Get trade","description":"Retrieves trade details for a specific trade.","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"},{"name":"trade_id","in":"path","description":"The zerohash generated ID associated with a trade","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved trade. Including amounts, prices, settlement details, and counterparty information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetTradeResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}}},"/positions":{"get":{"tags":["Positions"],"summary":"List positions","description":"Retrieve all positions maintained at zerohash.","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"},{"name":"platform_code","in":"query","description":"Filters for positions based on the specific platform","required":false,"schema":{"type":"string"}},{"name":"account_label","in":"query","description":"Filters for positions based on the account_label","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved positions for the authenticated participant.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetPositionsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}}},"/positions/platform/{platform_code}":{"get":{"tags":["Positions"],"summary":"List platform positions","description":"Retrieve all platform positions maintained at zerohash.","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"},{"name":"platform_code","in":"path","description":"Filters for positions based on the specific platform","required":true,"schema":{"type":"string"}},{"name":"participant_code","in":"query","description":"Filters for positions based on the specific participant.\n\nNote: multiple participant codes can be provided in the query string, separated by ampersands.\nE.g. `participant_code=PLAT01&participant_code=PLAT02`","required":false,"schema":{"type":"string"}},{"$ref":"#/components/parameters/AccountLabelQuery"}],"responses":{"200":{"description":"Successfully retrieved positions for the requested platform.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetPlatformPositionsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}}},"/positions/participant/{id}":{"get":{"tags":["Positions"],"summary":"List participant positions","description":"Retrieve all positions for the specified participant maintained at zerohash.","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"},{"name":"id","in":"path","description":"Participant code to filter positions for.","required":true,"schema":{"type":"string","example":"CUST01"}},{"name":"platform_code","in":"query","description":"Filters for positions based on the specific platform.","required":false,"schema":{"type":"string"}},{"$ref":"#/components/parameters/AccountLabelQuery"}],"responses":{"200":{"description":"Successfully retrieved positions for the requested participant.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetPositionsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}}},"/accounts":{"get":{"tags":["Accounts"],"summary":"List accounts","description":"Retrieves a list of all accounts and their current balances.","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"},{"name":"page","in":"query","description":"Filters for a specific page (pagination)","required":false,"schema":{"type":"string"}},{"name":"account_group","in":"query","description":"Filters for accounts with a specific account_group which will map to your zerohash platform_code","required":false,"schema":{"type":"string"}},{"name":"account_label","in":"query","description":"Filters for accounts with a specific account_label","required":false,"schema":{"type":"string"}},{"name":"account_owner","in":"query","description":"Filters for accounts with a specific account_owner (this field mirrors as a participant_code)","required":false,"schema":{"type":"string"}},{"name":"asset","in":"query","description":"Filters for accounts with a specific asset","required":false,"example":"BTC","schema":{"$ref":"#/components/schemas/Asset"}},{"name":"account_type","in":"query","description":"Filters for accounts with a specific account_type","required":false,"schema":{"type":"string","example":"available","enum":["available","collateral","payable","receivable","collateral_deficiency","staked"]}}],"responses":{"200":{"description":"Successfully retrieved paginated list of accounts with current balances with optional filters: page, account_group, account_label, account_owner, asset, account_type.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetAccountsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}},"post":{"tags":["Customer Accounts (MTA)"],"summary":"Create customer account","description":"Creates a new customer account. The pair (`participant_code`, `account_label`) is unique per participant and is used as idempotency check rather than `X-Request-Id`; submitting the same pair a second time returns an error rather than creating a duplicate.","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"}],"requestBody":{"description":"Request body containing the customer account details to create.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostCustomerAccountRequest"}}}},"responses":{"202":{"description":"Creating a customer account is an asynchronous process that does several operations in the background after the response is returned. \n Customers are advised to listen to the `customer_account_status_changed` webhook event to be notified when the account is active and ready to use.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerAccountResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}}},"/accounts/{zrn}":{"patch":{"tags":["Customer Accounts (MTA)"],"summary":"Update customer account","description":"Updates prefunded and tier values for an existing customer account. ","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"},{"name":"zrn","in":"path","description":"The ZRN of the customer account to add advisor to. The ZRN must be in the format: `zrn:zh:eu:account:customer:<uuid>`","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"New prefunded and tier values for the account","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCustomerAccountBody"}}}},"responses":{"202":{"description":"Customer account updated successfully. Updating an existing customer account is an asynchronous process that does several operations in the background after the response is returned. \n Customers are advised to listen to the `customer_account_status_changed` webhook event to be notified when the account is active and ready to use.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerAccountResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}}},"/accounts/{zrn}/details":{"get":{"tags":["Customer Accounts (MTA)"],"summary":"Get account details","description":"Retrieves customer account details","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"},{"name":"zrn","in":"path","description":"Get customer account by account zrn, assigned to the account at creation by zerohash. \nFormat: `zrn:zh:eu:account:customer:<uuid>`.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved customer account details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerAccountResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}}},"/accounts/{zrn}/lock":{"post":{"tags":["Customer Accounts (MTA)"],"summary":"Lock customer account","description":"Locks an existing customer account","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"},{"name":"zrn","in":"path","description":"The ZRN of the customer account to lock. The ZRN must be in the format: `zrn:zh:eu:account:customer:<uuid>`","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Request body containing the reason and metadata for locking the customer account.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LockCustomerAccountBody"}}}},"responses":{"202":{"description":"Request to lock the customer account accepted. The lock is applied asynchronously; clients should listen for the `customer_account_status_changed` webhook event to observe the new state.","content":{"application/json":{"schema":{"type":"object","description":"Empty JSON object."}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}}},"/accounts/{zrn}/unlock":{"post":{"tags":["Customer Accounts (MTA)"],"summary":"Unlock customer account","description":"Unlocks an existing customer account","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"},{"name":"zrn","in":"path","description":"The ZRN of the customer account to unlock. The ZRN must be in the format: `zrn:zh:eu:account:customer:<uuid>`","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Request body containing the reason and metadata for unlocking the customer account.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnlockCustomerAccountBody"}}}},"responses":{"202":{"description":"Request to unlock the customer account accepted. The unlock is applied asynchronously; clients should listen for the `customer_account_status_changed` webhook event to observe the new state.","content":{"application/json":{"schema":{"type":"object","description":"Empty JSON object."}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}}},"/accounts/{zrn}/withdraw_lock":{"post":{"tags":["Customer Accounts (MTA)"],"summary":"Withdraw lock customer account","description":"Locks withdrawals for an existing customer account","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"},{"name":"zrn","in":"path","description":"The ZRN of the customer account to withdraw lock. The ZRN must be in the format: `zrn:zh:eu:account:customer:<uuid>`","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Request body containing the reason and metadata for withdraw locking the customer account.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WithdrawLockCustomerAccountBody"}}}},"responses":{"202":{"description":"Request to withdraw-lock the customer account accepted. The withdraw lock is applied asynchronously; clients should listen for the `customer_account_status_changed` webhook event to observe the new state.","content":{"application/json":{"schema":{"type":"object","description":"Empty JSON object."}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}}},"/accounts/{zrn}/withdraw_unlock":{"post":{"tags":["Customer Accounts (MTA)"],"summary":"Withdraw unlock customer account","description":"Unlocks withdrawals for an existing customer account","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"},{"name":"zrn","in":"path","description":"The ZRN of the customer account to withdraw unlock. The ZRN must be in the format: `zrn:zh:eu:account:customer:<uuid>`","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Request body containing the reason and metadata for withdraw unlocking the customer account.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WithdrawUnlockCustomerAccountBody"}}}},"responses":{"202":{"description":"Request to withdraw-unlock the customer account accepted. The withdraw unlock is applied asynchronously; clients should listen for the `customer_account_status_changed` webhook event to observe the new state.","content":{"application/json":{"schema":{"type":"object","description":"Empty JSON object."}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}}},"/accounts/{zrn}/divest":{"post":{"tags":["Customer Accounts (MTA)"],"summary":"Divest customer account","description":"Divests an existing customer account","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"},{"name":"zrn","in":"path","description":"The ZRN of the customer account to divest. The ZRN must be in the format: `zrn:zh:eu:account:customer:<uuid>`","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Request body containing the reason and metadata for divesting the customer account.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DivestCustomerAccountBody"}}}},"responses":{"202":{"description":"Request to divest the customer account accepted. Divestment is applied asynchronously; clients should listen for the `customer_account_status_changed` webhook event to observe the new state.","content":{"application/json":{"schema":{"type":"object","description":"Empty JSON object."}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}}},"/accounts/{zrn}/advisors":{"post":{"tags":["Customer Accounts (MTA)"],"summary":"Add advisor to customer account","description":"Adds an advisor to an existing customer account","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"},{"name":"zrn","in":"path","description":"The ZRN of the customer account to add advisor to. The ZRN must be in the format: `zrn:zh:eu:account:customer:<uuid>`","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Advisor information to add to the account","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddAdvisorToCustomerAccountBody"}}}},"responses":{"202":{"description":"Request to add the advisor to the customer account accepted. The change is applied asynchronously.","content":{"application/json":{"schema":{"type":"object","description":"Empty JSON object."}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}}},"/accounts/{zrn}/tenants":{"post":{"tags":["Customer Accounts (MTA)"],"summary":"Add tenant to customer account","description":"Adds a tenant to an existing customer account","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"},{"name":"zrn","in":"path","description":"The ZRN of the customer account to add tenant to. The ZRN must be in the format: `zrn:zh:eu:account:customer:<uuid>`","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Tenant information to add to the account","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddTenantToCustomerAccountBody"}}}},"responses":{"202":{"description":"Request to add the tenant to the customer account accepted. The change is applied asynchronously.","content":{"application/json":{"schema":{"type":"object","description":"Empty JSON object."}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}}},"/accounts/{zrn}/advisors/{financial_advisor}":{"delete":{"tags":["Customer Accounts (MTA)"],"summary":"Remove advisor from customer account","description":"Removes an advisor from an existing customer account","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"},{"name":"zrn","in":"path","description":"The ZRN of the customer account to remove advisor from. The ZRN must be in the format: `zrn:zh:eu:account:customer:<uuid>`","required":true,"schema":{"type":"string"}},{"name":"financial_advisor","in":"path","description":"The financial advisor identifier to remove from the customer account. ","required":true,"schema":{"type":"string","minLength":6,"maxLength":6},"example":"ADV001"}],"responses":{"202":{"description":"Request to remove the advisor from the customer account accepted. The change is applied asynchronously.","content":{"application/json":{"schema":{"type":"object","description":"Empty JSON object."}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}}},"/accounts/{zrn}/tenants/{tenant}":{"delete":{"tags":["Customer Accounts (MTA)"],"summary":"Remove tenant from customer account","description":"Removes a tenant from an existing customer account","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"},{"name":"zrn","in":"path","description":"The ZRN of the customer account to remove tenant from. The ZRN must be in the format: `zrn:zh:eu:account:customer:<uuid>`","required":true,"schema":{"type":"string","pattern":"^zrn:zh:[a-z]{2}:account:customer:[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"},"example":"zrn:zh:eu:account:customer:fcb1a806-0096-49c7-ac53-6e3daf2b58c5"},{"name":"tenant","in":"path","description":"The participant code of the tenant to remove from the customer account. The participant code must be 6 characters long.","required":true,"schema":{"type":"string","minLength":6,"maxLength":6},"example":"PLAT01"}],"responses":{"202":{"description":"Request to remove the tenant from the customer account accepted. The change is applied asynchronously.","content":{"application/json":{"schema":{"type":"object","description":"Empty JSON object."}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}}},"/accounts/{zrn}/close":{"post":{"tags":["Customer Accounts (MTA)"],"summary":"Close customer account","description":"Closes an existing customer account","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"},{"name":"zrn","in":"path","description":"The ZRN of the customer account to close. The ZRN must be in the format: `zrn:zh:eu:account:customer:<uuid>`","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Request body containing the reason and metadata for closing the customer account.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloseCustomerAccountBody"}}}},"responses":{"202":{"description":"Request to close the customer account accepted. Closure is applied asynchronously; clients should listen for the `customer_account_status_changed` webhook event to observe the new state.","content":{"application/json":{"schema":{"type":"object","description":"Empty JSON object."}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}}},"/accounts/{account_id}":{"get":{"tags":["Accounts"],"summary":"Get account","description":"Retrieves account details for a given `account_id`.","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"},{"name":"account_id","in":"path","description":"Unique account identifier (UUID format)","required":true,"schema":{"type":"string","format":"uuid","example":"ce819fe8-b1d7-43bb-961c-e09ede0988d3"}}],"responses":{"200":{"description":"Successfully retrieved account details including balance, owner, and account type","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetAccountResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}}},"/accounts/{account_id}/movements":{"get":{"tags":["Accounts"],"summary":"List account movements","description":"Retrieves the history of each itemized movement that has been applied to an account to lead up to its current balance.","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"},{"name":"account_id","in":"path","description":"This parameter enables the filtering of movements based on the associated account_id.","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Filters for a specific page (pagination)","required":false,"schema":{"type":"string"}},{"name":"movement_timestamp[gt]","in":"query","description":"Filters for movements with a timestamp greater than the provided value, which can be defined in milliseconds or nanoseconds","required":false,"schema":{"type":"number"}},{"name":"movement_timestamp[gte]","in":"query","description":"Filters for movements with a timestamp greater than or equal to the provided value, which can be defined in milliseconds or nanoseconds","required":false,"schema":{"type":"number"}},{"name":"movement_timestamp[e]","in":"query","description":"Filters for movements with a timestamp that is equal to the provided value, which can be defined in milliseconds or nanoseconds","required":false,"schema":{"type":"number"}},{"name":"movement_timestamp[lt]","in":"query","description":"Filters for movements with a timestamp less than the provided value, which can be defined in milliseconds or nanoseconds","required":false,"schema":{"type":"number"}},{"name":"movement_timestamp[lte]","in":"query","description":"Filters for movements with a timestamp less than or equals the provided value, which can be defined in milliseconds or nanoseconds","required":false,"schema":{"type":"number"}},{"name":"parent_link_id","in":"query","description":"Filters for movements that are tagged with a specific parent_link_id","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved paginated list of account movements with optional filters: page, movement_timestamp filters, parent_link_id.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetAccountMovementsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}}},"/accounts/{account_id}/run_history":{"get":{"tags":["Accounts"],"summary":"List account run history","description":"Retrieves the history of grouped settlements, deposits, withdrawals and other changes that have been applied to an account to lead up to its current balance.","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"},{"name":"account_id","in":"path","description":"Filters for a specific account_id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved account run history. Returns grouped settlements, deposits, withdrawals and other changes applied to the account.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetRunHistoryResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}}},"/accounts/net_delivery_obligations":{"get":{"tags":["Accounts"],"parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"}],"summary":"List NDOs","description":"Returns all net delivery obligations (NDO) across all accounts under your platform.","responses":{"200":{"description":"Successfully retrieved paginated list of net delivery obligations (NDOs) across all platform accounts.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetAccountsNetDeliveryObligationsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}}},"/account/{zrn}/status_reason":{"get":{"tags":["Customer Accounts (MTA)"],"summary":"Get customer account status reason","description":"This endpoint returns detailed information about customer account status, including lock reason codes. This endpoint is disabled by default and enabled per platform using feature flags.","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"},{"name":"zrn","in":"path","description":"The customer account identifier to get status reason details for","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Customer account status reason details retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetCustomerAccountStatusReasonBody"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}}},"/deposits/crypto":{"get":{"tags":["Deposits"],"summary":"List crypto deposits","description":"Retrieves a paginated list of blockchain deposits. Filter by deposit IDs, account IDs, transaction hashes, assets, states, and timestamps.","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"},{"name":"deposit_ids","in":"query","description":"Filter by one or more deposit IDs","required":false,"schema":{"oneOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]}},{"name":"account_ids","in":"query","description":"Filter by one or more account IDs","required":false,"schema":{"oneOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]}},{"name":"transaction_hashes","in":"query","description":"Filter by one or more transaction hashes","required":false,"schema":{"oneOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]}},{"name":"assets","in":"query","description":"Filter by one or more asset codes (e.g. BTC, ETH)","required":false,"schema":{"oneOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]}},{"name":"states","in":"query","description":"Filter by one or more deposit states","required":false,"schema":{"oneOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]}},{"name":"state_reasons","in":"query","description":"Filter by one or more state reasons (e.g. `required_travel_rule_info`). Use with `states=PENDING_COMPLIANCE_REVIEW` to list deposits held for Travel Rule review.","required":false,"schema":{"oneOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]}},{"name":"travel_rule_status","in":"query","description":"Convenience filter for Travel Rule status. `pending` returns all deposits currently held awaiting Travel Rule verification (equivalent to `states=PENDING_COMPLIANCE_REVIEW&state_reasons=required_travel_rule_info`).","required":false,"schema":{"type":"string","enum":["pending"]}},{"name":"from_timestamp","in":"query","description":"Filter deposits from this timestamp (inclusive)","required":false,"schema":{"type":"string"}},{"name":"to_timestamp","in":"query","description":"Filter deposits up to this timestamp (inclusive)","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"Maximum number of results to return (1-999)","required":false,"schema":{"type":"string"}},{"name":"cursor","in":"query","description":"Pagination cursor for the next page of results","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetCryptoDepositsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}}},"/deposits/crypto/{deposit_id}":{"get":{"tags":["Deposits"],"summary":"Get crypto deposit by ID","description":"Retrieves a single blockchain deposit by its unique deposit ID.","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"},{"name":"deposit_id","in":"path","description":"The unique identifier of the deposit","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetCryptoDepositByIdResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}}},"/deposits/{deposit_id}/lots":{"post":{"tags":["Deposits"],"summary":"Create deposit transfer lots","description":"Associates one or more cost-basis lots with a deposit for tax reporting.","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"},{"name":"deposit_id","in":"path","description":"The unique identifier of the deposit — the `deposit_id` returned by the GET crypto deposits endpoints, which equals the `movement_id` returned by the GET deposits endpoint.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The transfer lots to associate with the deposit.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTransferLotBody"}}}},"responses":{"201":{"description":"Transfer lots created for the deposit.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransferLotResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"409":{"description":"Transfer lots already exist for the deposit, or the request duplicates a previous one.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransferLotErrorResponse"}}}},"422":{"description":"The deposit references an asset for which transfer lots are not supported (e.g. fiat).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransferLotErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}},"get":{"tags":["Deposits"],"summary":"Get deposit transfer lots","description":"Retrieves the cost-basis transfer lots recorded for a deposit.","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"},{"name":"deposit_id","in":"path","description":"The unique identifier of the deposit — the `deposit_id` returned by the GET crypto deposits endpoints, which equals the `movement_id` returned by the GET deposits endpoint.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The transfer lots recorded for the deposit.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransferLotResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"422":{"description":"The deposit references an asset for which transfer lots are not supported (e.g. fiat).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransferLotErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}},"delete":{"tags":["Deposits"],"summary":"Delete deposit transfer lots","description":"Removes the cost-basis transfer lots recorded for a deposit. Supply a `request_id` to delete a specific submission; omit the body to clear the deposit’s current lot.","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"},{"name":"deposit_id","in":"path","description":"The unique identifier of the deposit — the `deposit_id` returned by the GET crypto deposits endpoints, which equals the `movement_id` returned by the GET deposits endpoint.","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Optional. Provide a `request_id` to target a specific transfer-lot submission.","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteTransferLotBody"}}}},"responses":{"200":{"description":"The transfer lots that were removed from the deposit.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransferLotResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"422":{"description":"The deposit references an asset for which transfer lots are not supported (e.g. fiat).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransferLotErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}}},"/deposits/digital_asset_addresses":{"post":{"tags":["Deposits"],"summary":"Create deposit address","description":"Creates a deposit address for a given asset.","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"}],"requestBody":{"description":"Details for creating a deposit address, including participant code, asset, and network.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostDigitalAssetAddressesBody"}}}},"responses":{"200":{"description":"Successfully created deposit address. Returns the created resource with generated IDs and timestamps.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostDigitalAssetAddressesResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}},"get":{"tags":["Deposits"],"summary":"List deposit addresses","description":"Retrieves a list of addresses associated with your platform.","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"},{"name":"participant_code","in":"query","description":"The participant whose deposit addresses should be returned. Must either match the calling platform or be a customer of the calling platform.","required":true,"schema":{"type":"string","minLength":6,"maxLength":6,"example":"ABCDEF"}},{"name":"asset","in":"query","description":"Filter by asset. When omitted, addresses for all assets the participant holds are returned.","required":false,"schema":{"$ref":"#/components/schemas/Asset"}},{"name":"inactivity_interval","in":"query","description":"Only return addresses that have been inactive for at least this many days (1–1825).","required":false,"schema":{"type":"number","minimum":1,"maximum":1825,"example":30}},{"name":"limit","in":"query","description":"Maximum number of addresses to return (1–100). Defaults to `1`.","required":false,"schema":{"type":"number","minimum":1,"maximum":100,"example":30,"default":1}}],"responses":{"200":{"description":"Successfully retrieved paginated list of deposit addresses with optional filters: participant_code, asset, inactivity_interval, limit.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetDigitalAddressesResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}},"patch":{"tags":["Deposits"],"summary":"Update address owner","description":"Assigns a new owner to a digital wallet address. ","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"}],"requestBody":{"description":"Details for updating address ownership, including the addresses and new participant code.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchDigitalAssetAddressesBody"}}}},"responses":{"200":{"description":"Successfully updated digital asset address ownership. Returns the updated resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchDigitalAssetAddressesResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}}},"/deposits/bolt11":{"post":{"tags":["Deposits"],"summary":"Create a BOLT11 invoice for deposit","description":"Creates a Lightning Network invoice (BOLT11) to deposit funds to the informed participant account.","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"}],"requestBody":{"description":"Details for creating a BOLT11 Lightning Network invoice, including participant code, amount, and description.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostBOLT11Body"}}}},"responses":{"200":{"description":"Successfully created BOLT11 Lightning Network invoice. Returns the created resource with generated IDs and timestamps.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostBOLT11Response"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}}},"/deposits/bolt11/test_payment":{"post":{"tags":["Deposits"],"summary":"Create a test payment for a BOLT11 deposit invoice","description":"Simulate a payment of BOLT11 invoice deposit generated by /deposits/bolt11. (CERT only)","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"}],"requestBody":{"description":"Details for simulating a test payment, including the BOLT11 invoice payment request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostBOLT11TestPaymentBody"}}}},"responses":{"200":{"description":"Successfully simulated test payment for BOLT11 invoice."},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}}},"/deposits/fund":{"post":{"tags":["Deposits"],"summary":"Fund account","description":"Funds a specified fiat account in the zerohash CERT environment. This is helpful when automating end-to-end testing or manually validating a feature. Not available in production.","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"}],"requestBody":{"description":"Details of the fiat account to fund, including participant code, asset, and amount.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostDepositsFundBody"}}}},"responses":{"201":{"description":"Successfully funded fiat account.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostDepositsFundResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}}},"/deposits":{"get":{"tags":["Deposits"],"summary":"List deposits","description":"Retrieves a paginated list of deposits made by you and your customers. Results are limited to the last 2 months.","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"},{"$ref":"#/components/parameters/PageQuery"},{"$ref":"#/components/parameters/AssetQuery"},{"name":"include_customer_deposits","in":"query","description":"Include deposits made by customers of your platform. Defaults to `true`. Ignored when `participant_code` is provided — a participant-scoped request always excludes customer deposits.","required":false,"schema":{"type":"string","enum":["true","false"],"default":"true","example":"true"}},{"$ref":"#/components/parameters/ParticipantCodeQuery"},{"$ref":"#/components/parameters/AccountLabelQuery"},{"name":"settle_timestamp[gt]","in":"query","description":"Filter for deposits whose settlement timestamp (Unix milliseconds) is strictly greater than the value.","required":false,"schema":{"type":"string","pattern":"^[0-9]+$","example":"1678901234567"}},{"name":"settle_timestamp[gte]","in":"query","description":"Filter for deposits whose settlement timestamp (Unix milliseconds) is greater than or equal to the value.","required":false,"schema":{"type":"string","pattern":"^[0-9]+$","example":"1678901234567"}},{"name":"settle_timestamp[lt]","in":"query","description":"Filter for deposits whose settlement timestamp (Unix milliseconds) is strictly less than the value.","required":false,"schema":{"type":"string","pattern":"^[0-9]+$","example":"1678901234567"}},{"name":"settle_timestamp[lte]","in":"query","description":"Filter for deposits whose settlement timestamp (Unix milliseconds) is less than or equal to the value.","required":false,"schema":{"type":"string","pattern":"^[0-9]+$","example":"1678901234567"}},{"name":"settle_timestamp[e]","in":"query","description":"Filter for deposits whose settlement timestamp (Unix milliseconds) equals the value exactly.","required":false,"schema":{"type":"string","pattern":"^[0-9]+$","example":"1678901234567"}},{"name":"parent_link_id_source","in":"query","description":"Filter deposits by the source system that originated the parent link (e.g. `rest_api`, `sdk`).","required":false,"schema":{"type":"string","example":"rest_api"}}],"responses":{"200":{"description":"Paginated list of deposits, optionally filtered by `asset`, `participant_code`, `account_label`, `settle_timestamp`, or `parent_link_id_source`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetDepositsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}}},"/deposits/fiat_accounts":{"get":{"tags":["Deposits"],"summary":"List fiat accounts","description":"Retrieves a list of all fiat accounts. You must include your participant_code in the reference field with any deposit to ensure that funds can be allocated correctly to your participant.","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"}],"responses":{"200":{"description":"Successfully retrieved paginated list of fiat accounts.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetFiatAccountsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}}},"/deposits/uma":{"post":{"tags":["Deposits"],"summary":"Create UMA address","description":"Creates an UMA address for a given participant.","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"}],"requestBody":{"description":"Details for creating a UMA address, including participant code and username.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostUMAAddressBody"}}}},"responses":{"201":{"description":"Successfully created UMA address. Returns the created resource with generated IDs and timestamps."},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}},"get":{"tags":["Deposits"],"summary":"List UMA addresses","description":"Retrieves a list of UMA addresses associated with your platform.","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"},{"name":"participant_code","in":"query","description":"Filters for all addresses associated with a participant_code","required":false,"schema":{"type":"string"}},{"name":"page_size","in":"query","description":"Limits the number of addresses returned in the response","required":false,"schema":{"type":"number","minimum":1,"maximum":1000,"example":10,"default":10}},{"name":"offset","in":"query","description":"Skips over the specified number of addresses in the response","required":false,"schema":{"type":"number","minimum":1,"example":0,"default":0}}],"responses":{"200":{"description":"Successfully retrieved paginated list of UMA addresses with optional filters: participant_code, page_size, offset.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetUMAAddressesResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}},"patch":{"tags":["Deposits"],"summary":"Update UMA address","description":"Updates an UMA username for a given participant.","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"}],"requestBody":{"description":"Details for updating a UMA address, including participant code and new username.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchUMAAddressBody"}}}},"responses":{"200":{"description":"Successfully updated UMA address. Returns the updated resource."},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}}},"/movements":{"get":{"tags":["Movements"],"summary":"List movements","description":"Retrieves the history of each itemized movement that has been applied to all account(s) that the requesting platform has access to. Results are limited to the last 2 months","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"},{"$ref":"#/components/parameters/PageQuery"},{"$ref":"#/components/parameters/PageSizeQuery"},{"name":"parent_link_id","in":"query","description":"Filters for movements that are tagged with a specific `parent_link_id`.","required":false,"schema":{"type":"string"}},{"name":"movement_type","in":"query","description":"The type of the movement","required":false,"schema":{"type":"string","description":"The type of movement","example":"final_settlement","enum":["initial_margin","deposit","execution_fee","final_settlement","final_settlement_default","final_settlement_default_fallback","final_settlement_default_partial","final_settlement_outstanding","interest_payment","collateralize_loan","loan_collateral_return","network_fee","otc_final_settlement","principal_swap","repayment","transfer","variation_margin","variation_margin_call","withdrawal","withdrawal_confirmed","withdrawal_pending","commission","bank_fee","transaction_fee"]}},{"name":"transfer_type","in":"query","description":"Filters for movements with a specific `transfer_type`.","required":false,"schema":{"type":"string","example":"prefunded","enum":["trade_allocation","commission_allocation","commission_correction","revenue_capture","fund","pay","prefunded"]}},{"name":"account_id","in":"query","description":"This parameter enables the filtering of movements based on the associated `account_id`.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Paginated list of movements for the accounts the requesting platform has access to. Results are limited to the last 2 months.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetMovementsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}}},"/withdrawals/requests":{"post":{"tags":["Withdrawals"],"summary":"Create withdrawal request","description":"Creates new withdrawal requests to be settled. Withdrawal requests created through the API go directly into an APPROVED state.\n\n### Specifying the destination\n\nProvide **exactly one** of the following per request (zerohash always responds with `withdrawal_account_id`):\n\n| Method | Field | Use for |\n| --- | --- | --- |\n| Saved account | `withdrawal_account_id` | Pre-whitelisted crypto address or fiat account (recommended) |\n| Inline crypto | `address` (+ `destination_tag` for tag assets) | An on-chain address |\n| Inline fiat | `account{}` | A bank wire (DOMESTIC / REAL_TIME / INTERNATIONAL) |\n\nTo retrieve saved account IDs use `GET /withdrawals/digital_asset_addresses` (crypto) and `GET /withdrawals/fiat_accounts` (fiat).\n\n💡 Use the **Examples** dropdown on the request body to see a ready-to-use request for each destination method and withdrawal type.","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"}],"requestBody":{"description":"Withdrawal request details including account ID, asset, amount, and destination information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WithdrawalRequestBody"},"examples":{"saved_account_by_id":{"summary":"Saved account by ID (withdrawal_account_id)","description":"Withdraw to a **pre-whitelisted** crypto address or fiat account by its `withdrawal_account_id` — the recommended path. Fetch IDs from `GET /withdrawals/digital_asset_addresses` (crypto) or `GET /withdrawals/fiat_accounts` (fiat). Do **not** also send `address` or `account{}`.","value":{"account_group":"PLAT01","account_label":"sub_account_test","participant_code":"ABCDEF","client_withdrawal_request_id":"5e0949b1-fc02-4d0a-8b7c-0d1e2f3a4b5c","asset":"BTC","amount":"0.01","withdrawal_account_id":"146"}},"crypto_utxo_btc":{"summary":"Crypto — UTXO (BTC)","description":"Withdraw a **UTXO-model** crypto asset (e.g. BTC, LTC, BCH, DOGE) to a whitelisted on-chain `address`. Amount is denominated in the asset.","value":{"account_group":"PLAT01","account_label":"sub_account_test","participant_code":"ABCDEF","client_withdrawal_request_id":"6f1a5b2c-0d3e-4a1b-9c8d-1e2f3a4b5c6d","asset":"BTC","amount":"0.01","address":"bc1qar0srrr7xfkvy5l643lydnw9re59gtzzwf5mdq"}},"crypto_account_based_erc20":{"summary":"Crypto — account-based (USDC.ETH)","description":"Withdraw an **account-based** crypto asset (e.g. an ERC-20 token or ETH) to a whitelisted on-chain `address`. Same shape as the UTXO example — only the `asset` differs.","value":{"account_group":"PLAT01","account_label":"sub_account_test","participant_code":"ABCDEF","client_withdrawal_request_id":"7a2b6c3d-1e4f-4b2c-8d9e-2f3a4b5c6d7e","asset":"USDC.ETH","amount":"250","address":"0x742d35Cc6634C0532925a3b844Bc454e4438f44e"}},"crypto_tag_based_xrp":{"summary":"Crypto — tag-based (XRP)","description":"Withdraw a **tag-model** asset (e.g. XRP, XLM, EOS, HBAR). These require `no_destination_tag`; when it is `false`, `destination_tag` is required.\n\n> zerohash requires `no_destination_tag: false` for **EOS**.","value":{"account_group":"PLAT01","account_label":"sub_account_test","participant_code":"ABCDEF","client_withdrawal_request_id":"8b3c7d4e-2f5a-4c3d-9e0f-3a4b5c6d7e8f","asset":"XRP","amount":"100","address":"rN7n7otQDd6FczFgLdSqtcsAUxDkw6fzRH","no_destination_tag":false,"destination_tag":"1234567"}},"domestic_fiat_usd_wire":{"summary":"Fiat — DOMESTIC_FIAT (USD wire)","description":"Withdraw **USD** to a US bank via domestic wire. The destination is supplied inline as an `account` object with `type: \"DOMESTIC_FIAT\"` and a `routing_number` (ABA).","value":{"account_group":"PLAT01","account_label":"sub_account_test","participant_code":"ABCDEF","client_withdrawal_request_id":"9c4d8e5f-3a6b-4d4e-8f1a-4b5c6d7e8f90","asset":"USD","amount":"500.00","account":{"type":"DOMESTIC_FIAT","name":"Primary (3000)","account_number":"1234563000","routing_number":"021000021","beneficiary_name":"John Doe","bank_name":"JPMorgan Chase","recipient_instructions":"Invoice #123"}}},"real_time_fiat_usd":{"summary":"Fiat — REAL_TIME_FIAT (24/7 USD)","description":"Withdraw **USD** over real-time rails (24/7, including outside normal banking hours). Same US account fields as DOMESTIC_FIAT (`account_number` + `routing_number`); only `type: \"REAL_TIME_FIAT\"` differs.","value":{"account_group":"PLAT01","account_label":"sub_account_test","participant_code":"ABCDEF","client_withdrawal_request_id":"a0d5e6f7-4b7c-4e5f-8f1a-5c6d7e8f9012","asset":"USD","amount":"150.00","account":{"type":"REAL_TIME_FIAT","name":"Primary (3000)","account_number":"1234563000","routing_number":"021000021","beneficiary_name":"John Doe","bank_name":"JPMorgan Chase"}}},"international_fiat_eur_swift":{"summary":"Fiat — INTERNATIONAL_FIAT (EUR SWIFT)","description":"Withdraw an **international** currency (e.g. EUR, GBP) via SWIFT. The destination is an `account` object with `type: \"INTERNATIONAL_FIAT\"`, the IBAN in `account_number`, and the beneficiary bank's `swift_code`.","value":{"account_group":"PLAT01","account_label":"sub_account_test","participant_code":"ABCDEF","client_withdrawal_request_id":"b1e6f708-5c8d-4f60-9012-6d7e8f901234","asset":"EUR","amount":"750.00","account":{"type":"INTERNATIONAL_FIAT","name":"EUR Vendor (3000)","account_number":"DE89370400440532013000","swift_code":"DEUTDEFF","beneficiary_name":"Hans Müller","bank_name":"Deutsche Bank"}}},"international_fiat_eur_intermediary":{"summary":"Fiat — INTERNATIONAL_FIAT with intermediary bank (EUR SWIFT)","description":"Same as the INTERNATIONAL_FIAT example, but routed through an **intermediary (correspondent) bank** — required when the beneficiary bank has no direct SWIFT relationship. Set `intermediary_bank: true` and provide the intermediary bank details (`intermediary_bank_name`, `intermediary_bank_code_type`, `intermediary_bank_code`, and `intermediary_bank_account_number`).","value":{"account_group":"PLAT01","account_label":"sub_account_test","participant_code":"ABCDEF","client_withdrawal_request_id":"c2f70819-6d9e-4071-a123-7e8f90123456","asset":"EUR","amount":"1200.00","account":{"type":"INTERNATIONAL_FIAT","name":"EUR Vendor (3000)","account_number":"DE89370400440532013000","swift_code":"DEUTDEFF","beneficiary_name":"Hans Müller","bank_name":"Deutsche Bank","intermediary_bank":true,"intermediary_bank_name":"JPMorgan Chase Bank, N.A.","intermediary_bank_code_type":"SWIFT","intermediary_bank_code":"CHASUS33","intermediary_bank_account_number":"US64SVBKUS6S3300958879","recipient_instructions":"Invoice #456"}}}}}}},"responses":{"200":{"description":"Successfully created withdrawal request. Returns the created resource with generated IDs and timestamps.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostWithdrawalRequestsResponse"},"example":{"message":{"id":"9084dd8f-ab9f-4f9b-a22b-49bdb4915a93","withdrawal_account_id":3709509,"participant_code":"ABCDEF","beneficiary_participant_code":null,"sender_participant_code":null,"requestor_participant_code":"ABCDEF","requested_amount":"0.1004142","settled_amount":"0.100414200000000000","status":"APPROVED","asset":"BTC","account_group":"PLAT01","account_label":null,"transaction_id":"0x0c36fd59b0f48257b5cd02cdf23fd8fb8230e27c5ddd28ce02c8a6a4736da4e6","input_data":null,"requested_timestamp":1777830138534,"created_timestamp":"2026-05-03T17:40:10.733Z","gas_price":null,"client_withdrawal_request_id":"20aed707-3127-427d-a47e-97efc6470cb3","on_chain_status":"CONFIRMED","fee_amount":"0.000004021417575","withdrawal_fee":"0","quoted_fee_amount":null,"quoted_fee_notional":null,"quoted_fee_asset":null,"trade_id":null,"parent_link_id":null,"parent_link_id_source":null,"amount_in_usd":234.32708342365032,"contract_validation_id":null,"recipient_instructions":"Invoice #123"}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}},"get":{"tags":["Withdrawals"],"summary":"Get withdrawal requests","description":"Retrieves a list of all withdrawal requests created by users as part of your participant. Results are limited to the last 2 months.","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"},{"name":"participant_code","in":"query","description":"Filters for withdrawal request by a specific `participant_code`","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Filters for a specific page (pagination)","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","description":"Filter for a specific withdrawal status. Must be provided in upper case.","required":false,"schema":{"type":"string","enum":["PENDING","APPROVED","REJECTED","SETTLED"]}},{"name":"gas_price","in":"query","description":"Filter for a specific `gas_price` value. Applies only to ERC-20 withdrawals.","required":false,"schema":{"type":"string"}},{"name":"client_withdrawal_request_id","in":"query","description":"Filter for client withdrawal request id","required":false,"schema":{"type":"string"}},{"name":"requested_timestamp[gt]","in":"query","description":"Filter for withdrawal requests whose `requested_timestamp` is greater than the given Unix timestamp (in milliseconds).","required":false,"schema":{"type":"string","pattern":"^[0-9]{13,19}$"}},{"name":"requested_timestamp[gte]","in":"query","description":"Filter for withdrawal requests whose `requested_timestamp` is greater than or equal to the given Unix timestamp (in milliseconds).","required":false,"schema":{"type":"string","pattern":"^[0-9]{13,19}$"}},{"name":"requested_timestamp[e]","in":"query","description":"Filter for withdrawal requests whose `requested_timestamp` equals the given Unix timestamp (in milliseconds).","required":false,"schema":{"type":"string","pattern":"^[0-9]{13,19}$"}},{"name":"requested_timestamp[lt]","in":"query","description":"Filter for withdrawal requests whose `requested_timestamp` is less than the given Unix timestamp (in milliseconds).","required":false,"schema":{"type":"string","pattern":"^[0-9]{13,19}$"}},{"name":"requested_timestamp[lte]","in":"query","description":"Filter for withdrawal requests whose `requested_timestamp` is less than or equal to the given Unix timestamp (in milliseconds).","required":false,"schema":{"type":"string","pattern":"^[0-9]{13,19}$"}},{"name":"on_chain_status","in":"query","description":"Filter for on-chain status","required":false,"schema":{"type":"string","enum":["PENDING","CONFIRMED"]}},{"name":"account_label","in":"query","description":"Filter for a specific account label","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved paginated list of withdrawal requests with optional filters: participant_code, page, status, gas_price, client_withdrawal_request_id, requested_timestamp, on_chain_status, account_label.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetWithdrawalRequestsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}}},"/withdrawals/requests/{id}":{"get":{"tags":["Withdrawals"],"summary":"Get withdrawal request","description":"Retrieves a specific withdrawal request by `id` associated with your participant or platform.","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"},{"name":"id","in":"path","description":"Withdrawal request id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully retrieved withdrawal request. including status, amounts, fees, and on-chain confirmation details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetWithdrawalRequestResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}},"delete":{"tags":["Withdrawals"],"summary":"Delete withdrawal request","description":"Rejects a pending withdrawal request.","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"},{"name":"id","in":"path","description":"withdrawal request id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successfully deleted withdrawal request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteWithdrawalRequestResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}}},"/withdrawals/execute":{"post":{"tags":["Withdrawals"],"summary":"Execute withdrawal","description":"Executes a withdrawal that has been previously quoted.","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"}],"requestBody":{"description":"Withdrawal execution details including quote ID and confirmation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WithdrawalExecuteRequest"}}}},"responses":{"200":{"description":"Successfully executed withdrawal.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WithdrawalExecuteResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code400"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code403"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code404"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code500"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Code503"}}}}}}},"/withdrawals/uma":{"post":{"tags":["Withdrawals"],"summary":"Request UMA Withdrawal","description":"Requests a withdrawal to an UMA address (on Lightning Network).","parameters":[{"$ref":"#/components/parameters/Signature"},{"$ref":"#/components/parameters/Timestamp"}],"requestBody":{"description":"UMA withdrawal request details including UMA address and amount.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WithdrawalUmaRequest"}}}},"responses":{"200":{"description":"Successfully created UMA withdrawal request. Returns the created resource with generated IDs and timestamps.","content":{"application/json":{"schema":{"$ref":"
[...]
